 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Mais de dez anos projetando e desenvolvendo software, entre aplicações web, mobile e Tv Digital. Nesse tempo de trabalho, participei de projetos relevantes e de grande porte, para clientes como a Samsung, Motorola, Coca-cola, Fiat, HP e atualmente trabalho em projetos com contrato de alta confidencialidade e não posso expor.
                    </p>
                    <p>
                        Como descrito em minhas recomendações no meu perfil do Linkedin, tenho muitas habilidades e já fiz vários papéis, como gerente de projetos de um time com mais de 12 pessoas, e durante todo esse tempo trabalho e estudos, acabei ficando conhecido por resolver problemas e por minhas habilidades de programação, e acabei sendo engenheiro de software por mais de 5 anos, mas o meu foco principal é na camada de interface e no usuário.
                    </p>
                    <p>
                        Minha formação acadêmica é em Web Design, hoje o nome dessa graduação é Sistemas para Internet, também fiz pós graduado em Front-end Engineer e Design, ambos na Faculdade Marista, e meu trabalho de conclusão foi focado em técnicas de SEO. Antes da faculdade eu era músico e artista plástico e visual, virei designer gráfico focado em design centrado no usuário, e me tornei UX por um longo tempo e me especializei em arquitetura de informação e em redesign de software.
                    </p>
                    <p>
                        Hoje trabalho em um dos mais premiados institutos de inovação e pesquisa do Brasil, o CESAR, onde estou há pouco mais de 7 anos. No projeto atual que trabalho sou UI Developer e trabalho constantemente com Node.js, JavaScript, HTML5, SASS com conceitos de BEM CSS, SEO, Acessibilidade, Semântica, git, bower e todo ecossistema tecnológico, libs e frameworks para criar aplicações modernas e robustas.
                    </p>
                    <p>
                        Pela minha capacidade técnica e perfil de ajudar ensinando, fui convidado para ser professor de pós-graduação e sou professor desde 2010 e já lecionei para várias turmas da faculdade CESAR, e fiz e planejei vários cursos. Também fui convidado para dar palestras em vários eventos importantes, mas o ponto mais alto para mim foi quando tive uma palestra aprovada entre mais de 750 submissões ao redor do mundo e fui para a Flórida US falar sobre como desenvolver aplicações acessíveis com JavaScript, no JSConf US que é um dos eventos mais respeitados pela comunidade de desenvolvedores JavaScript.
                    </p>
                    <p>
                        Ficou curioso, acesse as minhas redes sociais, pesquise por @felipedeolinda ou leia os comentários das pessoas que já trabalharam comigo no perfil do Linkedin.
                    </p>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://goo.gl/nJ2BfU" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Curriculum Vitae
                    </a>
                </div>
            </div>
        </div>
    </section>
