 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>I'm web developer and instructor with 10 + years working with technology developing and designing applications.</p>
                    <p>Strong skills in web based applications development and performance enhancement and Accessibility.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://goo.gl/nJ2BfU" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Curriculum Vitae
                    </a>
                </div>
            </div>
        </div>
    </section>
