    <!-- Header -->
    <header id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                    <div class="col-lg-12">
                        10 + years working with technology developing and designing applications.
                        Web based applications development and web standards and accessibility.
                    </div>
                    <ul class="list-inline">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="http://goo.gl/nJ2BfU" class="btn btn-lg btn-outline">
                            <i class="fa fa-download"></i> Curriculum Vitae
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
    </header>
